
    <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-info">
                <h3>Virtualate</h3>
                <p> A Virtualate foi criada com o propósito de inovar o mercado de chocolates,e proporcionar aos clientes uma memorável experiência com nosso produto.</p>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Redes Sociais</h4>
                <ul>
                  <li><i class="ion-ios-arrow-right"></i> <a href="/">Início</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="/#team">Quem Somos</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="/prod">Produtos</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="#">Termos de Serviço</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="#">Política de Privacidade</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Entre em contato</h4>
                <p>
                  A108 Rua Taboão<br>
                  Taboão da Serra, SP<br>
                  Brasil <br>
                  <strong>Telefone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
    
                <div class="social-links">
                    <a href="https://twitter.com"target="_blank" class="instagram"><i class="fa fa-twitter"></i></a>
                    <a href="https://facebook.com"target="_blank" class="instagram"><i class="fa fa-facebook"></i></a>
                  <a href="https://instagram.com/virtualate_"target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="https://googleplus.com"target="_blank" class="instagram"><i class="fa fa-google-plus"></i></a>
                  <a href="https://linkedin.com"target="_blank" class="instagram"><i class="fa fa-linkedin"></i></a>
                </div>
    
              </div>
    
              
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Virtualate</strong>. Todos os direitos reservados.
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
            -->
          </div>
        </div>
      </footer><!-- #footer -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>
</body>
</html>